
@import '../../../styles.scss';

footer {
    background-color:$primary-color;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    padding: 10px 15px;
    bottom: 0;
}

.section-logos {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

footer img {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

footer img:hover {
    transform: scale(1.1);
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project p {
    color: rgb(152, 153, 153);
    letter-spacing: 2px;
    margin: 5px;
    font-size: 11px;
    text-align: center;
}

.container-collaborators {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    letter-spacing: 2px;
    font-size: 18px;
}

.contact-collaborators {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .contact-collaborators img {
    width: 35px;
    height: 35px;
    margin: 10px;
  }

  .section-collaborators {
  display: flex;
  flex-direction: column;
    text-align: center;
}

.section-collaborators p {
    letter-spacing: 2px;
}



@media only screen and (max-width: 1280px) and (min-width: 500px){
  .project p {
    font-size: 16px;
  }}



