<footer>
  <section class="section-logos">
    <a href="https://angular.io/" target="_blank"
      ><img src="../../../assets/angular-logo.png"
    /></a>
    <a href="https://ada.tech/" target="_blank"
      ><img src="../../../assets/LogoADA.png"
    /></a>
    <a href="https://www.becas-santander.com/pt_br/index.html" target="_blank"
      ><img src="../../../assets/santander-logo.png"
    /></a>
  </section>

  <section class="project">
    <p>
      Projeto realizado durante o programa Santander Coders 2023 em parceria com
      ADA Tech.
    </p>
    <p>
      A ideia do projeto consiste no desenvolvimento de um ecommerce para
      gerenciar produtos utilizando CRUD, rotas com proteção e autenticação.
    </p>
  </section>

  <section class="container-collaborators">
    Colaboradores
    <section class="contact-collaborators">
      <section class="section-collaborators">
        <p>Jamyle Layla</p>
        <div class="social-media">
          <a
            href="https://www.linkedin.com/in/jamyle-teles-151259235/"
            target="_blank"
            ><img src="../../../assets/icon-linkedin.png"
          /></a>

          <a href="https://github.com/JamyleTeles" target="_blank"
            ><img src="../../../assets/icon-github.png"
          /></a>
        </div>
      </section>

      <section class="section-collaborators">
        <p>Juan Salles</p>
        <div class="social-media">
          <a href="https://www.linkedin.com/in/juan-salles/" target="_blank"
            ><img src="../../../assets/icon-linkedin.png"
          /></a>
          <a href="https://github.com/JuanSalles" target="_blank"
            ><img src="../../../assets/icon-github.png"
          /></a>
        </div>
      </section>

      <section class="section-collaborators">
        <p>Matheus Holanda</p>
        <div class="social-media">
          <a
            href="https://www.linkedin.com/in/matheus-holanda97/"
            target="_blank"
            ><img src="../../../assets/icon-linkedin.png"
          /></a>
          <a href="https://github.com/MMatheus-Holanda" target="_blank"
            ><img src="../../../assets/icon-github.png"
          /></a>
        </div>
      </section>

      <section class="section-collaborators">
        <p>Thayza Oliveira</p>
        <div class="social-media">
          <a
            href="https://www.linkedin.com/in/tthayza-oliveira/"
            target="_blank"
            ><img src="../../../assets/icon-linkedin.png"
          /></a>
          <a href="https://github.com/tthayza" target="_blank"
            ><img src="../../../assets/icon-github.png"
          /></a>
        </div>
      </section>
    </section>
  </section>
</footer>
