@import "../../../styles.scss";

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $primary-blue;

}

input{
    background-color: transparent;
}

mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }

  mat-form-field {
    display: block;
  }

.img-container {
    display:none;
  }

  @media only screen and (min-width:968px) {
    main {
      flex-direction: row;
    }

    .login-container {
      width: 50vw;
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .img-container {
      width: 50vw;
      height: 100vh;
      display: block;
    }


    .img-container img {
      width: 100%;
      height: 101vh;
      object-fit: cover;
    }
  }

