
@import '../../../styles.scss';

.mat-toolbar {
  background-color: $primary-color;
  color: $primary-grey;
  // padding: 10px 0px 0px;
}
span {
  font-family: $tech-text;
  filter: drop-shadow(0 0 0.75rem $primary-grey);
}

nav {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

ul {
  display: flex;
  gap: 5px;
  padding: 24px 0px 0px 0px;
}
li {
  list-style: none;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user p {
  margin: -10px;
  font-size: 10px;
}

.log-icon {
  margin-top:0;
}
.user{
  right: 0;
}

@media only screen and (max-width: 1280px) and (min-width: 500px){

  nav  {
    justify-content: space-around;
  }
  ul {
    gap: 20px ;
  }


}