
@import '../../../styles.scss';

.mat-toolbar {
  background-color: $tertiary-color;
  color: $primary-grey;
  // border: 2px solid red;
  // box-shadow: 2px 17px 78px -14px rgba(233, 68, 68, 0.45)  !important;
  // box-shadow: 2px 17px 13px 14px rgba(0,0,0,0.45);
  // padding: 10px 0px 0px;
}
span {
  font-family: $tech-text;
  filter: drop-shadow(0 0 0.75rem $primary-grey);
}

nav {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

ul {
  display: flex;
  gap: 25px;
  padding: 24px 0px 0px 0px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: $primary-grey;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user p {
  margin: -10px;
  font-size: 10px;
}

.log-icon {
  margin-top:0;
}
.log-icon:hover{
  cursor: pointer;
}
.user{
  right: 0;
}

@media only screen and (max-width: 1280px) and (min-width: 500px){

  nav  {
    justify-content: space-around;
  }
  ul {
    gap: 20px ;
  }


}