<header>
  <mat-toolbar class="toolbar-header">
    <mat-toolbar-row>
      <nav>
        <span> PeriTech </span>
        <ul>
          <li>
            <mat-icon>add</mat-icon>
          </li>
          <li>
            <mat-icon>people</mat-icon>
          </li>
          <li>
            <mat-icon>email</mat-icon>
          </li>
        </ul>
        <div class="user">
          <p>ADMIN</p>
          <mat-icon class="log-icon" (click)="logout()">logout</mat-icon>
        </div>
      </nav>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
