<header>
  <mat-toolbar class="toolbar-header">
    <mat-toolbar-row>
      <nav>
        <a [routerLink]="['/']">
          <span> PeriTech </span>
        </a>
        <ul>
          <li *ngIf="renderizaAdicionarProduto">
            <a [routerLink]="['/add']">
              <mat-icon>add</mat-icon>
            </a>
          </li>
          <li *ngIf="renderizaListaDeProdutos">
            <a [routerLink]="['/listarProdutos']">
              <mat-icon>computer</mat-icon>
            </a>
          </li>
          <li>
            <a>
              <mat-icon>store</mat-icon>
            </a>
          </li>
          <li>
            <a>
              <mat-icon>email</mat-icon>
            </a>
          </li>
        </ul>
        <div class="user">
          <p *ngIf="renderizaTextoAdmin">ADMIN</p>
          <mat-icon *ngIf="!renderizaLogin" class="log-icon" (click)="logout()">logout</mat-icon>
          <a href="/login" *ngIf="renderizaLogin">Login</a>
        </div>
      </nav>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
