@import '../../../styles.scss';

.products-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100vh + 400px);
  padding: 20px 30px;
}

.product-item {
  border: solid 1px $secondary-blue;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.product-item img {
  width: 95px;
  height: 95px;
  object-fit: cover;

}

.area-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.area-buttons button {
  width: 80px;
}

