<div class="container">
    <h2>Adicionar novo produto</h2>
    <section class="container-form">
        <form class="form">
            <div class="div-form">
                <section class="section-form">

                    <section class="icon-input">
                        <mat-icon class="icon">store</mat-icon>
                        <mat-form-field>
                            <mat-label class="input label">Produto</mat-label>
                            <input class="input" matInput>

                        </mat-form-field>
                    </section>

                    <section class="icon-input">
                        <mat-icon class="icon">comment</mat-icon>
                        <mat-form-field>
                            <mat-label class="label input">Descrição</mat-label>
                            <input class="input" matInput>
                        </mat-form-field>
                    </section>

                    <section class="icon-input">
                        <mat-icon class="icon">view_week</mat-icon>
                        <mat-form-field>                      

                            <mat-label class="label input">Código</mat-label>
                            <input class="input" matInput>
                        </mat-form-field>
                    </section>

                </section>

                <section class="section-form">

                    <section class="icon-input">
                        <mat-icon class="icon"> attach_money</mat-icon>
                        <mat-form-field>                           

                            <mat-label class="label input">Preço</mat-label>
                            <input class="input" matInput>

                        </mat-form-field>
                    </section>

                    <section class="icon-input">
                        <mat-icon class="icon">credit_card</mat-icon>
                        <mat-form-field>                        

                            <mat-label class="label input">Parcelamento</mat-label>
                            <mat-select  class="input">

                                <mat-option value="/2">2x</mat-option>
                                <mat-option value="/3">3x</mat-option>
                                <mat-option value="/4">4x</mat-option>
                                <mat-option value="/5">5x</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </section>

                    <section class="icon-input">                     

                        <mat-icon class="icon-img fa-image">image</mat-icon>
                        <mat-form-field>
                            <mat-label class="label input">Link da imagem</mat-label>
                            <textarea  class="input" matInput placeholder="URL..."></textarea>

                        </mat-form-field>
                    </section>
                </section>
            </div>
            <button>Adicionar</button>
        </form>
    </section>
</div>