@import '../../../styles.scss';

.containerProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #550b5c;
    justify-content: center;
}

.containerEdit {
    width: 100%;
    height: 100%;
    padding: 0px 15px;
    gap: 30px;
}

.containerAdd {
    width: 100vw;
    height: 100vh;
}

.form-top {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.btn-close-dialog{
    width: 10px !important;
    border-radius: 50px;
    position: relative;
    top: 0;
}
.mat-icon {
    margin: 0;
}

.form-top h2 {
    font-size: 34px;
    color: #f1eefb;
    letter-spacing: 1px;
    font-family: $tech-text;
    text-align: center;
}

.container-form {
    background-color: #2a005297;
    border-radius: 10px;
    border: 3px solid #f1eefb;
    box-shadow: 0px 0px 15px 4px $secondary-blue;
}

.container-form-add {
    width: 80%;
    height: 70%;
    padding: 20px;
}

.container-form-edit {
    width: 95%;
    height: 60%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: #f1eefb;
    padding: 20px 5px;
}

.div-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    gap: 30px !important;

    &::-webkit-scrollbar {
        background-color: #f1eefbb3;
        border-radius: 10px;
        width: 12px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $opaque-blue;
    }
}

.div-form-add {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80%;
    gap: 30px !important;
}

.div-form-edit{
    padding: 30px;
    overflow-y: auto;
}

.mat-mdc-form-field {
    width: 80%;
}

.section-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 40px;
}

.btn-action {
    height: 30px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    border: none;
    background-color: #2a0052;
    border-radius: 5px;
    cursor: pointer;
    color: #f1eefb;
    position: relative;
    bottom: -34px;
    padding: 4px 18px;
}

button:hover {
    background-color: #6644a6;
    color: #f1eefb;
    transform: scale(1.1);
    border: 1px solid #f1eefb;
    box-shadow: 0px 0px 6px 2px $secondary-blue;
}

.icon-input {
    display: flex;
    align-items: center;
    position: relative;
    top: -10px;
    color: #f1eefb;
}

.icon {
    background: radial-gradient(ellipse at center, #6644a660 0%, #00000079 0%, #6644a681 100%);
    border-radius: 5px;
    position: relative;
    top: -10px;
}

.icon-img {
    background: radial-gradient(ellipse at center, #6644a660 0%, #00000079 0%, #6644a681 100%);
    border-radius: 5px;
    position: relative;
    top: -23px;
}


@media only screen and (min-width: 768px) and (max-width: 1980px) {

    .container-form  {
        height: 450px;
    }
    .div-form {
        padding: 35px;
        overflow-x: hidden;
        justify-content: flex-start;
        height: 120%;
        flex-direction: row;

    }
        .btn-action {
        bottom: -10px;
        width: 24% !important;
        height: 35px;
        position: relative;
    }
    ::-webkit-scrollbar {
        display: none;
    }
}


@media only screen and (min-width: 1000px) {
    .btn-action {
        width: 26%;
    }
}


